.customization {
  background-color: $colorDustyBlue;

  &__container {
    display: flex;
    align-items: center;
  }

  &__img {
    position: relative;
    width: 686px;
    min-width: 586px;
    height: 567px;
    flex: 1;
    margin-right: 10px;
  }

  &__info {
    flex: 2;
  }

  &__pic {
    position: absolute;
    left: -30%;
    width: 100%;
    height: 100%;
  }

  &__subtitle {
    line-height: 45px;
    margin-bottom: 33px;
  }

  &__desc {
    font-size: 24px;
    font-weight: 300;
    margin-bottom: 48px;
  }

}