.tokenization {

  padding: 110px 0px;

  @include phones {
    padding: 70px 0px;
  }

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;

    @media screen and (max-width: 890px) {
      max-width: 90%;
    }

    @media screen and (max-width: 670px) {
      align-items: flex-start;
    }
  }

  &__head {
    display: flex;
    flex-direction: column;
    margin-bottom: 68px;
    max-width: 505px;

    @media screen and (max-width: 670px) {
      margin-bottom: 40px;
    }
  }

  &__subtitle {
    margin-bottom: 15px;
  }

  &__subtext {
    font-size: 20px;
    font-weight: 300;
  }

  &__list {
    display: flex;
    justify-content: space-between;

    @media screen and (max-width: 670px) {
      flex-direction: column;
    }
  }

  &__item {
    margin-right: 85px;
    flex: 1;

    &:last-child {
      margin-right: 0px;
    }

    &-subtitle {
      font-size: 28px;
      margin-top: 33px;
      margin-bottom: 33px;
      line-height: 30px;
    }

    @media screen and (max-width: 670px) {
      margin-right: 0;
      padding-bottom: 1.2125rem;
      margin-bottom: 1.8125rem;
      border-bottom: dotted 1px rgba(89, 126, 150, 0.3);

      &:last-child {
        border: none;
        margin-bottom: 0;
        padding-bottom: 0;
      }
    }
  }

  &__info {
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 35px;
  }

  &__img--1 {
    width: 44px;
    height: 59px;
  }

  &__img--2 {
    width: 52px;
    height: 48px;
  }

  &__icon {
    width: 100%;
    height: 100%;
  }


  &__link {
    font-size: 20px;
    font-weight: 300;
    color: $colorRed;
    border-bottom: 1px dotted $colorRed;
    background-color: transparent;
    outline: none;
    cursor: pointer;
    position: relative;
    max-width: 300px;

    @include phones {
      max-width: 260px;
    }

    &:after {
      content: "\2192";
      display: block;
      font-size: 18px;
      color: $colorRed;
      position: absolute;
      top: 0;
      right: -25px;
    }
  }
}