.wrapper--link {
  background-color: #c4d4b2;
  color: black;
}

.link {
  &-hero__img {
    background-image: url('./images/icons/payment-link-illu.svg');
    background-repeat: no-repeat;
    background-position: center right;
    width: 620px;
    height: 460px;
  }

  &-hero__pic {
    width: 100%;
    height: 100%;
  }

  &-hero__content {
    width: 45%;
  }
}

.link-about {
  padding: 140px 0px 0px 0px;
  background-color: white;

  &__container {
    display: flex;
    justify-content: flex-end;
  }

  &__img {
    background-repeat: no-repeat;
  }  

  &__img-1 {
    background-image: url('./images/icons/left-puzzle.svg');
    width: 204px;
    height: 233px;
    align-self: center;
  }

  &__img-2 {
    background-image: url('./images/icons/right-puzzle.svg');
    width: 275px;
    height: 235px;
  }

  &__pic {
    width: 100%;
    height: 100%;
  }

  &-subtitle {
    font-size: 28px;
    margin-top: 33px;
    margin-bottom: 33px;
    line-height: 30px;    
  }


  &__info {
    font-size: 20px;
    font-weight: 300;
    width: 54%;
    margin: 0 30px 0 50px;
  }
}
