.integration {

  &__container {
    display: flex;
    align-items: center;
  }

  &__img {
    width: 424px;
    height: 548px;
    flex: 1;
    position: relative;
  }

  &__pic {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 2%;
    left: 5%;
  }

  &__info {
    flex: 1;
    margin-right: 110px;
  }


  &__subtitle {
    margin-bottom: 43px;
  }

  &__desc {
    font-size: 24px;
    font-weight: 300;
    margin-bottom: 48px;
  }

  &__link {
    max-width: 120px;
    font-size: 24px;
    font-weight: 300;
    color: $colorRed;
    border-bottom: 1px dotted $colorRed;
    background-color: transparent;
    outline: none;
    cursor: pointer;
    position: relative;

    &:after {
      content: "\2192";
      display: block;
      font-size: 18px;
      color: $colorRed;
      position: absolute;
      top: 0;
      right: -25px;
    }
  }

}