.payment-methods {
  padding-top: 92px;

  &--dotted {
    border-bottom: 2px dotted #d6d6d6 !important;
  }

  @include tablets {
    margin-bottom: 50px;
  }

  &__container {
    display: flex;
    flex-direction: column;

    @include tablets {
      max-width: 90%;
    }

    @media screen and (max-width: 580px) {
      width: 100%;
      align-items: flex-start;
    }
  }

  &__subtext {
    margin-bottom: 30px;
    font-size: 24px;
    font-weight: 300;
  }

  &__subtitle {
    margin-bottom: 25px;
  }

  &__europe,
  &__america,
  &__latin,
  &__asia,
  &__africa {
    display: flex;
    flex-direction: column;

    @media screen and (max-width: 580px) {
      width: 90%;
    }
  }

  &__europe,
  &__america,
  &__latin,
  &__asia {
    border-bottom: 1px solid #d6d6d6;

    @include phones {
      border-bottom: 1px solid transparent;
    }
  }

  &__america, 
  &__latin,
  &__asia,
  &__africa {
    padding-top: 59px;
  }

  &__africa {
    padding-bottom: 100px;
      @include phones {
        padding-bottom: 0;
      }
  }

  &__row {
    margin-bottom: 48px;

    &:last-of-type .payment-methods__item {
      border-bottom: 1px solid transparent;

      @include phones {
        border-bottom: 2px dotted #d6d6d6;
      }
    }

    @media screen and (max-width: 580px) {
      margin-left: 15px;
      margin-bottom: 0;
      width: 100%;
    }

    &:last-child {
      margin-bottom: 0;
    }

    .payment-methods__item {
      border-bottom: 2px dotted #d6d6d6;
    }
    

    @include phones {
      &:nth-of-type(2) {
        .payment-methods__item {
          border-bottom: 2px dotted #d6d6d6;

          // &:last-child {
          //   border: none;
          // }
        }
      }
    }
  }

  &__list {
    display: flex;
    justify-content: space-between;

    @media screen and (max-width: 580px) {
      flex-direction: column;
    }

  }

  &__start {
    justify-content: flex-start;
  }

  &__item {
    //flex: 1;
    flex-basis: 33%;
    padding-bottom: 45px;
    margin-right: 25px;

    &--desk {
      display: block;

      @include phones {
        display: none;
      }
    }

    &--mobile {
      display: none;

      @include phones {
        display: flex;
        flex-direction: column;
      }
    }

    @media screen and (max-width: 580px) {
      margin-right: 0;
      width: 100%;
      margin-bottom: 30px;
    }

    &:last-child {
      margin-right: 0;
    }

    &-content {

      @include phones {
        display: flex;
        justify-content: flex-start;
      }

    }

    &-col {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      min-height: 100%;

      &:first-child {
        margin-right: 10px;
      }
    }

    &-head,
    &-row {
      display: flex;
      align-items: center;
    }

    &-head {
      margin-bottom: 20px;

    }

    &-row {
      margin-bottom: 10px;

      &:last-child {
        margin-bottom: 0;
      }
    }

    &-subtitle {
      margin-bottom: 0;
      font-size: 28px;
      font-weight: 500;

      @include phones {
        font-size: 2rem;
      }
    }
  }

  &__flag {
    margin-right: 15px;
    width: 40px;
    height: 24px;
    border: 1px solid #e7e7e7;

  }

  &__desc {
    font-size: 20px;
    font-weight: 300;

    @include phones {
      font-size: 1.3rem;
      margin-top: 5px;
      margin-bottom: 10px;
    }
  }

  &__pay-icon {
    margin-right: 16px;

    @include phones {
      margin-right: 0;
      margin-top: 10px;
      margin-bottom: 10px;
    }

    &--maestro {
      width: 29px;
      height: 18px;
    }

    &--amex {
      width: 21px;
      height: 21px;
    }

    &--ali {
      width: 22px;
      height: 21px;
    }

    &--master {
      width: 29px;
      height: 18px;
    }

    &--paypal {
      width: 20px;
      height: 23px;
    }

    &--bancontact {
      width: 27px;
      height: 12px;
    }

    &--klarna {
      width: 25px;
      height: 25px;
    }

    &--visa {
      width: 26px;
      height: 9px;
    }

    &--ideal {
      width: 20px;
      height: 17px;
    }

    &--trustly {
      width: 16px;
      height: 19px;
    }

    &--qiwi {
      width: 20px;
      height: 20px;
    }

    &--sepa {
      width: 25px;
      height: 15px;  
    }

    &--przelewy24 {
      width: 29px;
      height: 13px;
    }

    &--giropay {
      width: 26px;
      height: 11px;
    }

    &--trusly {
      width: 16px;
      height: 19px;
    }

    &--cartes {
      width: 25px;
      height: 17px;
    }

    &--webmoney {
      width: 25px;
      height: 25px;
    }

    &--yandex {
      width: 18px;
      height: 23px;
    }

    &--afterpay {
      width: 26px;
      height: 15px;
    }

    &--interac {
      width: 22px;
      height: 22px;
    }

    &--oxxo {
      width: 29px;
      height: 16px;
    }

    &--discover {
      width: 24px;
      height: 24px;
    }

    &--poli {
      width: 21px;
      height: 21px;
    }

    &--tenpay {
      width: 21px;
      height: 17px;
    }

    &--astropay {
      width: 29px;
      height: 16px;
    }

    &--unionpay {
      width: 24px;
      height: 15px;
    }



    &--JCB {
      width: 29px;
      height: 22px;
    }

    &--cash-u {
      width: 28px;
      height: 22px;
    }

    &--others, 
    &--invoice, 
    &--transfer, 
    &--cod, 
    &--cartasi,
    &--cash {
      width: 25px;
      height: 25px;
      
    }
  }
}