.payments {
  min-height: 700px;
  padding-top: 90px;
  padding-bottom: 90px;

  margin: 50px 50px 0px 50px;
  position: relative;


  @media screen and (max-width: 1020px) {
    background-image: none;
    margin: 50px 0px 0px 0px;
  }

  @include phones {
    padding-top: 0;
    padding-bottom: 40px;
    margin: 50px 0px 0px 0px;
  }


  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    max-width: 44.5rem;

    @media screen and (max-width: 1020px) {
      align-items: flex-start;
      max-width: 100%;
      justify-content: center;
    }

    @include tablets {
      max-width: 90%;
    }

  }

  &__intro {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 10px;
    margin-bottom: 35px;
    z-index: 15;

    @media screen and (max-width: 1020px) {
      padding-left: 0;
    }
  }

  &__subtitle {
    margin-bottom: 10px;

    @include phones {
      margin-bottom: 15px;
    }
  }

  &__subtext {
    max-width: 660px;
    font-size: 30px;
    font-weight: 500;
    color: #597e96;
    line-height: 33px;

    @include phones {
      font-size: 2.3rem;
      line-height: 2.3rem;
    }
  }

  &__desc {
    font-size: 24px;
    font-weight: 300;
    max-width: 680px;
    z-index: 15;
  }
}

.payments {
  &__img-wrapper {
    position: absolute;

    @include tablets {
      display: none;
    }

    &--yen {
      width: 26px;
      height: 34px;
      top: 17%;
      left: 8%;
    }

    &--rb {
      width: 31px;
      height: 34px;
      bottom: 22%;
      left: 13%;
    }

    &--pound {
      width: 33px;
      height: 40px;
      top: 55%;
      left: 3%;
    }

    &--mc {
      width: 78px;
      height: 48px;
      top: 41%;
      left: 7%;
    }

    &--ali {
      width: 55px;
      height: 54px;
      top: 3%;
      left: 11%;
    }


    &--eu {
      width: 40px;
      height: 40px;
      top: 5%;
      right: 15%;
    }

    &--amex {
      width: 67px;
      height: 67px;
      top: 18%;
      right: 6%;
    }

    &--dollar {
      width: 18px;
      height: 32px;
      top: 37%;
      right: 4%;
    }

    &--visa {
      width: 89px;
      height: 28px;
      top: 46%;
      right: 11%;
    }

    &--qiwi {
      width: 54px;
      height: 56px;
      bottom: 27%;
      right: 8%;
    }

    &--apple {
      width: 71px;
      height: 29px;
      bottom: 22%;
      right: 20%;
    }

    .payments__icon {
      width: 100%;
      height: 100%;
    }
  }
}